*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.universal_container{
  width: 100%;
  max-width: 73%;
  min-width: 73%;
  margin-inline: auto;
}
.nav_wrapper{
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}
.nav_div_main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_right{
  width: 100px;
  height: 28px;
  background-color: white;
  border: 1px solid rgb(76, 66, 203);
  color:rgb(76, 66, 203);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}
.nav_left h3{
  font-size: 30px;
  color: white;
}
.nav_left p{
  font-size: 12px;
  color: white;
}