*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.universal_container{
  width: 100%;
  max-width: 73%;
  min-width: 73%;
  margin-inline: auto;
}
.nav_wrapper{
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
}
.nav_div_main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_right{
  width: 100px;
  height: 28px;
  background-color: white;
  border: 1px solid rgb(76, 66, 203);
  color:rgb(76, 66, 203);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
}
.nav_left h3{
  font-size: 30px;
  color: white;
}
.nav_left p{
  font-size: 12px;
  color: white;
}
.footer_wrapper{
  padding-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.757),rgba(0, 0, 0, 0.757)) ,url('./assets/image (31).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer_content_Wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.footer_div1{
  width: 100%;
  max-width: 23%;
  min-width: 23%;
  height: 100%;
}
.footer_div2{
  width: 100%;
  max-width: 20%;
  min-width: 20%;
 
}
.footer_div3{
  width: 100%;
  max-width: 20%;
  min-width: 20%;
}
.footer_div4{
  width: 100%;
  max-width: 20%;
  min-width: 20%;
}
.footer_div1 h1{
  color: white;
  font-weight: 600;
  font-size: 35px;
  
}
.footer_div1 p{
  font-size: 13px;
  color: white;
}
.footer_div1 h5{
  font-size: 13px;
  color: white;
  font-weight: 500;
  margin-top: 30px;
  line-height: 25px;
}
.footer_div2 h6{
  color: white;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 35px;
  margin-top: 20px;
}
.footer_links_list p{
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.footer_links_list{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.mail_address{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}
.mail_address img{
  width: 18px;
}
.footer_address_div{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.footer_address_div p{
  color: white;
  font-size: 13px;
}
.footer_copyright_div{
  background-color: rgb(84, 76, 74);
 
}
.footer_copyright_div p{
  color: white;
  font-size: 13px;
  font-weight: 500;
}
@media(max-width:899px){
  .footer_copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
  }
}
@media(max-width:999px){
  .footer_content_Wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer_div1{
    width: 100%;
    max-width: 40%;
    min-width: 40%;
  }
  .footer_div2{
    width: 100%;
    max-width: 30%;
    min-width: 30%;
  }
}
@media(max-width:768px){
  .footer_div2 {
    width: 100%;
    max-width: 48%;
    min-width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.footer_div1{
  width: 100%;
  max-width: 48%;
  min-width: 48%;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.mail_address {
  display: flex
;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.footer_content_Wrapper{
  row-gap: 40px;
}
}
@media(max-width:500px){
  .footer_div1{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer_div2{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .mail_address {
    display: flex
;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
}